
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <script src="~/Scripts/jquery-1.10.2.js"></script>
    <script src="~/Scripts/jquery.signalR-2.2.2.js"></script>
    <link href="~/Content/app.css" rel="stylesheet" />
    <meta name="viewport" content="width=device-width" />
    <title>Online Free - Video Converter - No Download Required</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=yes" />
    <meta name="MobileOptimized" content="width" />
    <meta name="description" content="Free online converted of video fromats, - mp4, avi, wmv etc no download required" />
    <meta name="HandheldFriendly" content="true" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <META NAME="ROBOTS" CONTENT="INDEX, FOLLOW">
    <meta name="keywords" content="free online video converter, compression (lossy), no download required,video conversion, encoder,video encoder, video encoding, video converter, mp4, avi, wmv, video formatter" />
</head>
<body style="text-align: center;font-family: 'Arial Narrow', Arial, sans-serif;">
    <div style="position:fixed;top:10px;left:15px;text-align: center;border: 2px green dashed;z-index:101;background-color:cadetblue;">
        <span style="background-color:azure;display:inline-block;width:70px;padding:5px;">Converted</span><br />
        <span style="color:white;font-size:large;" id="gnt"></span> <br />
        <span style="background-color:azure;display:inline-block;width:70px;padding:5px;">Counts</span>
    </div>
    <div style="position:absolute;top:27px;right:12px;">
        <div id="fb-root"></div>
        <script>
            (function (d, s, id) {
                var js, fjs = d.getElementsByTagName(s)[0];
                if (d.getElementById(id)) return;
                js = d.createElement(s); js.id = id;
                js.src = "//connect.facebook.net/en_GB/sdk.js#xfbml=1&version=v2.9";
                fjs.parentNode.insertBefore(js, fjs);
            }(document, 'script', 'facebook-jssdk'));</script>
        <div class="fb-share-button" data-href="https://video-converter.immanuel.co/home/converter" data-layout="box_count" data-size="large" data-mobile-iframe="true"><a class="fb-xfbml-parse-ignore" target="_blank" href="https://www.facebook.com/sharer/sharer.php?u=http%3A%2F%2Fvideo-converter.immanuel.co%2Fhome%2Fconverter&amp;src=sdkpreparse">Share</a></div>
    </div>
    <div style="position:absolute;right:0px;top:0px;">
        <div id="google_translate_element"></div>
        <script type="text/javascript">
            function googleTranslateElementInit() {
                new google.translate.TranslateElement({ pageLanguage: 'en', layout: google.translate.TranslateElement.InlineLayout.SIMPLE }, 'google_translate_element');
            }
        </script>
        <script type="text/javascript" src="//translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"></script>
    </div>

    <div style="position:relative;">
        <h2 style="display: inline-block;">
            Convert video files free, fast and online. No software installation needed.
        </h2>
        <h3>
            Compress, Convert betwen most of the video format...
        </h3>
    </div><br />
    <hr />
    <div id="fe-contain" style="height:80%;width:96%;background-color:#b9acb8;display:inline-block;border-radius:15px;position: relative;">
        <div id="full-contain" style="height:80%;background-color:#b9acb8;display:inline-block;border-radius:15px;position: relative;padding: 25px;">
            <div id="code-contain" style="height:485px;background-color:#864f4f;display:inline-block;border-radius:15px;position: relative;float:left;">
                <div style="background-color:#a5a1a0;border-radius: 15px 15px 0 0">
                    <h3 style="margin:0px;padding-top:10px;">Developer API</h3>
                </div>
                <div class="cde-list" style="background-color:#a5a1a0;border-radius: 0 0 15px 15px;display: table;text-align:center;vertical-align:middle;">
                    <div class="upl-vid" style="height:80px;width:150px;text-align:center;vertical-align:middle;display:table-cell;">
                        <img src="~/Content/code_repo.png" width="50" height="50" /><br />
                        <span id="selapi">Developer Api</span>
                    </div>
                    <div class="dwl-tofmt" style="height:80px;width:150px;text-align:center;vertical-align:middle;display:table-cell;position: relative;">
                        <select name="dlfmt" id="dev-lng" style="width: 150px;vertical-align:middle;height:30px;border-radius:5px;">
                            <option value="curl">Curl</option>
                            <option value="cs">C#</option>
                            <option value="js">JavaScript</option>
                            <option value="java">Java</option>
                            <option value="py">Python (3+)</option>
                            <option value="android">Android</option>
                            <option value="swift">Swift</option>
                            <option value="objectivec">Objective-C</option>
                            <option value="perl">Perl</option>
                        </select> <br />
                        <span style="left:10px;position: absolute; bottom:3px;white-space:nowrap;">Choose Language</span>
                    </div>
                    <div class="dwld-btn" style="height:80px;width:110px;text-align:center;vertical-align:middle;display:table-cell;position: relative;">
                        <input type="submit" value="Download" id="btnDwnCode" style="height:35px;border-radius:10px;vertical-align:middle;" />
                    </div>
                </div>
                <div class="code-pre">
                    <br />
                    <pre style="white-space:pre;text-align:left;background-color:#1d254c;color: white;overflow:auto;overflow-y: auto;max-width:410px;max-height:350px;" id="pre-cddd">

                    </pre>

                </div>
            </div>
            <div id="vid-contain" style="height:485px;background-color:#46788c;display:inline-block;border-radius:15px;position: relative;float:left;margin-left: 10px;">
                <div style="background-color:#a5a1a0;border-radius: 15px 15px 0 0">
                    <h3 style="margin:0px;padding-top:10px;">Video Converter</h3>
                </div>
                <div class="vid-list" style="background-color:#a5a1a0;border-radius:0 0 15px 15px;display: table;text-align:center;vertical-align:middle;">
                    @*<form method="post" action="/api/File/ConvertToVids" enctype="multipart/form-data">*@
                    <div class="upl-vid" style="height:80px;width:150px;text-align:center;vertical-align:middle;display:table-cell;">
                        <img src="~/Content/upl-1.png" width="50" height="50" /><br />
                        <span id="selfile">Choose File</span>
                    </div>
                    <input type="file" class="upl-file" name="srcfile" id="fileUpload" style="display:none;" />
                    <div class="dwl-tofmt" style="height:80px;width:150px;text-align:center;vertical-align:middle;display:table-cell;position: relative;">
                        <select name="tofmt" id="tofmt" style="width: 150px;vertical-align:middle;height:30px;border-radius:5px;">
                            <option value="mp4">MP4</option>
                            <option value="avi">AVI</option>
                            <option value="wmv">WMV</option>
                            <option value="mpg">MPG</option>
                            <option value="mov">MOV</option>
                            <option value="m4v">M4V</option>
                            <option value="mkv">MKV</option>
                            <option value="flv">FLV</option>
                            <option value="webm">WEBM</option>
                            <option value="3gp">3GP</option>
                        </select> <br />
                        <span style="left:10px;position: absolute; bottom:3px;white-space:nowrap;">Choose Format</span>
                    </div>
                    <div class="uplvid-btn" style="height:80px;width:90px;text-align:center;vertical-align:middle;display:table-cell;position: relative;">
                        <input type="submit" value="Convert" id="btnUpload" style="height:35px;border-radius:10px;vertical-align:middle;" />
                        <br />
                        <input type="submit" value="Compress" id="btnCompress" style="height:35px;border-radius:10px;vertical-align:middle;" />
                    </div>
                    <div class="uplvid-prog" style="height:80px;text-align:center;vertical-align:middle;display:none;position: absolute;width: 389px;left:0;opacity: 0.9;background-color:black;border-radius: 15px;">
                        <img src="~/Content/load_1.gif" width="50" height="55" style="vertical-align:middle;margin-left:5px;padding-top:15px;" />
                    </div>
                    @*<a id="rere" href="" style="margin-left:5px;">link</a>*@
                    @*</form>*@

                </div>
                <div id="vid-error" style="border-radius: 15px;display: table;text-align:center;vertical-align:middle;width:390px;height:30px;margin-top: 10px;color: red;">

                </div>
                <div id="vid-list" style="border-radius: 15px;display: table;text-align:center;vertical-align:middle;width:390px;margin-top: 10px;">
                    @*<a class='buttonDownload' href='/api/file/GetFiles?pth=' targe*t='_blank'>Download - </a>*@
                </div>
                <div style="clear:both;"></div>
            </div>
        </div>
    </div>
    <script>
            $(document).ready(function () {
                actOnValue('piiofpr9', 'VisitCnt', 'increment');
                getValue('piiofpr9', 'VisitCnt');

                $(".upl-vid").on("click", function (evt) {
                    evt.preventDefault();
                    $(this).closest(".vid-list").find(".upl-file").trigger("click");
                });

                $("#fileUpload").on("change", function () {
                    console.log($(this).val());
                    var fname = $(this).val();
                    var ext = fname.split('.').pop();
                    var typearrs = $("#tofmt option").map(function () {
                        return $(this).val();
                    }).get();
                    if (typearrs.indexOf(ext.toLowerCase()) < 0) {
                        alert('File TypeNot supported..')
                        return false;
                    }
                    var ofn = fname.split('\\').pop();
                    ofn = (ofn || "").length > 11 ? (ofn.substr(0, 8) + ".." + $("#tofmt").val()) : ofn;
                    $("#selfile").text(ofn);
                });

                $("#btnCompress").on("click", function () {
                    actOnValue('piiofpr9', 'ConvertCnt', 'increment');
                    var data = new FormData();

                    var files = $("#fileUpload").get(0).files;
                    if (!files || !files.length || !files[0].name) {
                        alert("select source file");
                        return;
                    }
                    if (files[0].name.split('.').pop() == $("#tofmt").val()) {
                        //alert("select different format from source");
                        data.append("onlycompress", "true");
                    }
                    data.append("tofmt", $("#tofmt").val());
                    // Add the uploaded image content to the form data collection
                    if (files.length > 0) {
                        data.append("UploadedImage", files[0]);
                    }
                    $(".uplvid-prog").css("display", "table-cell");
                    data.append("compress", "true");
                    // Make Ajax request with the contentType = false, and procesDate = false
                    var ajaxRequest = $.ajax({
                        type: "POST",
                        url: "/api/file/ConvertToVids",
                        contentType: false,
                        processData: false,
                        data: data
                    });

                    ajaxRequest.done(function (data, xhr, textStatus) {
                        var dl = "<a class='buttonDownload' style='margin-top:10px;' href='/api/file/GetFiles?pth=" + data.Path + "' target='_blank'>Download - " + data.FileName + "</a> <a style='cursor:pointer;' class='fbsharelink' data-shareurl='" + data.Path + "'><img src='/Content/share_1.png' width='30' height='30' /></a> <br /><span>(Available for 3 Hrs)</span><br />";
                        $("#vid-list").append($(dl));
                        //$("#gnt").text(data.TotCnt);
                    });

                    ajaxRequest.fail(function (data, xhr, textStatus) {
                        $("#vid-error").text("Erro occured in converting, pls contact <a href='mailto:raj@immanuel.co'>admin</a>");
                    });

                    ajaxRequest.always(function (data, xhr, textStatus) {
                        $(".uplvid-prog").css("display", "none");
                    });
                });

                $('#btnUpload').on('click', function () {
                    actOnValue('piiofpr9', 'ConvertCnt', 'increment');
                    var data = new FormData();

                    var files = $("#fileUpload").get(0).files;
                    if (!files || !files.length || !files[0].name) {
                        alert("select source file");
                        return;
                    }
                    if (files[0].name.split('.').pop() == $("#tofmt").val()) {
                        alert("select different format from source");
                        return;
                    }
                    data.append("tofmt", $("#tofmt").val());
                    // Add the uploaded image content to the form data collection
                    if (files.length > 0) {
                        data.append("UploadedImage", files[0]);
                    }
                    $(".uplvid-prog").css("display", "table-cell");
                    // Make Ajax request with the contentType = false, and procesDate = false
                    var ajaxRequest = $.ajax({
                        type: "POST",
                        url: "/api/file/ConvertToVids",
                        contentType: false,
                        processData: false,
                        data: data
                    });

                    ajaxRequest.done(function (data, xhr, textStatus) {
                        var dl = "<a class='buttonDownload' style='margin-top:10px;' href='/api/file/GetFiles?pth=" + data.Path + "' target='_blank'>Download - " + data.FileName + "</a> <a style='cursor:pointer;' class='fbsharelink' data-shareurl='" + data.Path + "'><img src='/Content/share_1.png' width='30' height='30' /></a> <br /><span>(Available for 3 Hrs)</span><br />";
                        $("#vid-list").append($(dl));
                        //$("#gnt").text(data.TotCnt);
                    });

                    ajaxRequest.fail(function (data, xhr, textStatus) {
                        $("#vid-error").text("Erro occured in converting, pls contact <a href='mailto:raj@immanuel.co'>admin</a>");
                    });

                    ajaxRequest.always(function (data, xhr, textStatus) {
                        $(".uplvid-prog").css("display", "none");
                        //$("#fileUpload").replaceWith($("#fileUpload").val('').clone(true));
                        //$("#selfile").text("Choose File");
                    });
                });

                $(document).on("click", '.fbsharelink', function () {
                    var shareurl = $(this).data('shareurl');
                    window.open('https://www.facebook.com/sharer/sharer.php?u=' + shareurl + '&t=' + document.title, '',
                        'menubar=no,toolbar=no,resizable=yes,scrollbars=yes,height=300,width=600');
                });
            });
    </script>
    <script type="text/javascript">
            var getValue = function (appkey, itemkey) {
                $.ajax({
                    type: "GET",
                    url: "https://keyvalue.immanuel.co/api/KeyVal/GetValue/" + appkey + "/" + itemkey,
                    contentType: false,
                    processData: false
                }).done(function (data) {
                    $("#gnt").text(data || "0");
                }).fail(function (err) {

                });
            }
            var updateValue = function (appkey, itemkey, itemval) {
                $.ajax({
                    type: "POST",
                    url: "https://keyvalue.immanuel.co/api/KeyVal/UpdateValue/" + appkey + "/" + itemkey + "/" + itemval,
                    contentType: false,
                    processData: false
                }).done(function (data) {

                }).fail(function (err) {

                });
            }
            var actOnValue = function (appkey, itemkey, action) {
                $.ajax({
                    type: "POST",
                    url: "https://keyvalue.immanuel.co/api/KeyVal/ActOnValue/" + appkey + "/" + itemkey + "/" + action,
                    contentType: false,
                    processData: false
                }).done(function (data) {

                }).fail(function (err) {

                });
            }
    </script>
    <script>
                (function (i, s, o, g, r, a, m) {
                    i['GoogleAnalyticsObject'] = r; i[r] = i[r] || function () {
                        (i[r].q = i[r].q || []).push(arguments)
                    }, i[r].l = 1 * new Date(); a = s.createElement(o),
                        m = s.getElementsByTagName(o)[0]; a.async = 1; a.src = g; m.parentNode.insertBefore(a, m)
                })(window, document, 'script', 'https://www.google-analytics.com/analytics.js', 'ga');

            ga('create', 'UA-102636146-1', 'auto');
            ga('send', 'pageview');

    </script>
    <script>
            var saveData = (function () {
                var a = document.createElement("a");
                document.body.appendChild(a);
                a.style = "display: none";
                return function (data, fileName, filetype) {
                    var blob = new Blob([data], { type: filetype }),
                        url = window.URL.createObjectURL(blob);
                    a.href = url;
                    a.download = fileName;
                    a.click();
                    setTimeout(function () { window.URL.revokeObjectURL(url); }, 1000);
                };
            }());

            var getFiles = function (callback) {
                $.ajax({
                    type: "GET",
                    url: "https://video-converter.immanuel.co/api/File/DownloadFile/" + $("#dev-lng").val(),
                    //url: "http://localhost:54339/api/File/DownloadFile/" + $("#dev-lng").val(),
                    contentType: false,
                    processData: false
                }).done(function (data) {
                    //console.log(data);
                    if (callback) {
                        callback(data);
                    }
                    else {
                        $("#pre-cddd").text(data);
                    }
                }).fail(function (err) {

                });
            }
            $("#dev-lng").on("change", function () {
                getFiles();
            });
            $("#btnDwnCode").on("click", function () {
                getFiles(function (data) {
                    var ext = $("#dev-lng").val();
                    if (ext == "android") { ext = "java"; }
                    saveData(data, "videoapi." + ext, "text/plain;charset=utf-8");
                });
            });
            getFiles();
    </script>
    <script>

            //<input type='file' id='fileUpload' />
            var a7 = (function () {
                function Convert(blob) {
                    var formData = new FormData();
                    formData.append('tofmt', 'mp4'); //change format to be changed.
                    formData.append('file', document.getElementById('fileUpload').files[0]);
                    var request = new XMLHttpRequest();
                    request.onreadystatechange = function () {
                        if (this.readyState == 4 && this.status == 200) {
                            var type = request.getResponseHeader("Content-Type");
                            var disposition = request.getResponseHeader("Content-Disposition");
                            var fname = (getFileName(disposition) || 'Temp') + '.' + getMimes(type);
                            saveData(this.response, fname, type, )
                        }
                    };
                    request.open('POST', 'https://video-converter.immanuel.co/api/File/Converter');
                    request.responseType = 'arraybuffer';
                    request.send(formData);
                }

                //Utilitites (Use if needed)

                var saveData = (function () {
                    var a = document.createElement("a");
                    document.body.appendChild(a);
                    a.style = "display: none";
                    return function (data, fileName, filetype) {
                        var blob = new Blob([data], { type: filetype }),
                            url = window.URL.createObjectURL(blob);
                        a.href = url;
                        a.download = fileName;
                        a.click();
                        setTimeout(function () { window.URL.revokeObjectURL(url); }, 1000);
                    };
                }());

                var getMimes = function (type) {
                    if (type === "video/x-flv") {
                        return "flv";
                    }
                    else if (type === "video/mp4") {
                        return "mp4";
                    }
                    else if (type === "video/avi") {
                        return "avi";
                    }
                    else if (type === "video/x-ms-wmv") {
                        return "wmv";
                    }
                    else if (type === "video/mpeg") {
                        return "mpg";
                    }
                    else if (type === "video/quicktime") {
                        return "mov";
                    }
                    else if (type === "video/x-m4v") {
                        return "m4v";
                    }
                    else if (type === "video/x-matroska") {
                        return "mkv";
                    }
                    else if (type === "video/webm") {
                        return "webm";
                    }
                }

                var getFileName = function (disposition) {
                    var filename = undefined;
                    if (disposition && disposition.indexOf('attachment') !== -1) {
                        var filenameRegex = /filename[^;=\n]*=((['"]).*?\2|[^;\n]*)/;
                        var matches = filenameRegex.exec(disposition);
                        if (matches != null && matches[1]) {
                            filename = matches[1].replace(/['"]/g, '');
                        }
                    }

                    if (filename && disposition && disposition.indexOf('inline') !== -1) {
                        var filenameRegex = /filename[^;=\n]*=((['"]).*?\2|[^;\n]*)/;
                        var matches = filenameRegex.exec(disposition);
                        if (matches != null && matches[1]) {
                            filename = matches[1].replace(/['"]/g, '');
                        }
                    }

                    return filename;
                }
                return {
                    convert: Convert
                }
            })();
            //a7.convert(document.getElementById('fileUpload').files[0]);
    </script>
</body>
</html>
